html{
    background: linear-gradient(135deg, #FC8860 0%, #FFCC6F 100%);
}

body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: monospace, Times, serif;
}

header{
    border-radius: 1rem 1rem 0 0;
    width: 100%;
    background: #FF6144;
    position: relative;
    text-align: center;
}

header > div {
    height: 100px;
}

.item{
    margin-top: 30px;
    background-color: white;
    border-radius: 10px;
    width: 500px;
}

.item:first-child{
    margin-top: 0px;
}

.fit-picture{
	width: 100%;
	height: 100%;
    border-radius: 10px 10px 0px 0px;
}

.info{
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 10px 5px 10px;
}

.add{
    background-color: #FF6144;
}

.hide-add{
    display: none;
}

.order{
    border-radius: 30px 30px 10px 10px;
    width: 30rem;
    min-height: 20rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: 50px;
    height: max-content;
}

.order > h1{
    margin-left: 20px;
}

.order-items{
    margin-left: 20px;
}

.order-summary{
    margin-left: 20px;
}

.checkout{
    color: white;
    width: 100%;
    height: 40px;
    border-radius: 0 0 10px 10px;
    background-color: #FF6144;
    border: none;
}

.checkout:hover{
    background-color:#6f1b0d;
}

.holder{
    width: 50px;
}